## Required Variables
prefix = ""
sub1SubscriptionId = "" # Must be Subscription with CSI Drivers enabled for AKS clusters
sub2SubscriptionId = ""
domain = ""
location1 = ""
location2 = ""
location3 = ""